<!DOCTYPE html>
<html>
<head>
<title>Practice</title>
</head>
  
<body>
    <h2>Homepage</h2>
  <p>Welcome! This is your timeline, {% if user.is_authenticated %}{{ user.username }}{% else %}visitor{% endif %}!</p>
  {% block content %}
  {{ contex }}
  <p>
    <strong>Total users registered: </strong> {{ count }}
  </p>
  <p>
    <strong>Total Number of Customers: </strong> {{ cust_count }}
  </p>
  <p>
    <strong>List of Customers: </strong>
  </p>
  {% for x in cust_rec %}
  <p>
    <strong>{{ x.cust_name }}, {{ x.cust_details }}</strong> 
  </p>
  {% endfor %}
{% endblock %}
<a href="/login/">
  <button>Log Out</button>
</a>
<a href="/registration/">
  <button>Register</button>
</a>
</body>

</html>